.Task {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 8px;

  color: #fff;

  border: 1px solid #669e85;
  border-radius: 8px;
}

.Task_deadline {
  border-color: #c73d3d;
}

.Task-Data {
  display: flex;
  flex-direction: column;
  gap: 8px;

  text-align: left;
}

.Task-DataDaedline {
  width: 70px;
  margin: 0;
  padding: 4px;

  color: #669e85;

  font-size: 12px;
  letter-spacing: 1px;
  text-align: center;

  border: 0.5px solid currentcolor;
  border-radius: 4px;
}

.Task-DataDaedline_deadline {
  color: #c73d3d;
}

.Task-DataHeader {
  margin: 0;
}

.Task-DataDescription {
  margin: 0;
}

.Task-DataWrapperImg {
  width: 360px;
}

.Task-DataTitleImg {
  margin-bottom: 6px;

  color: #696969;

  font-size: 14px;
}

.Task-DataImage {
  width: 100%;

  height: auto;

  max-height: 400px;

  object-fit: cover;

  border-radius: 8px;
}

.Task-Nav {
  flex: 0 0 70px;
}

.Task-NavButton {
  background-color: transparent;
  border: none;
}

.Task-NavIcon {
  color: #696969;
  font-size: 18px;

  transition: color 0.3s ease;
}

.Task-NavIcon_completed {
  color: #669e85;
}

.Task-NavIcon:hover {
  color: #cd9d6d;

  cursor: pointer;
}

@media (max-width: 425px) {
  .Task-DataWrapperImg {
    width: 220px;
  }
}
