.TodoForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.TodoForm-Input {
  padding: 8px;

  color: #fff;

  background-color: #010101;
  border: 1px solid #696969;
  border-radius: 8px;
  outline: none;
}

.TodoForm-Input:focus {
  border-color: #cd9d6d;
}

.TodoForm-Textarea {
  min-height: 80px;
  padding: 8px;

  color: #fff;

  background-color: #010101;
  border: 1px solid #696969;
  border-radius: 8px;
  outline: none;

  resize: none;
}

.TodoForm-Textarea:focus {
  border-color: #cd9d6d;
}

.TodoForm-File {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.TodoForm-FileLabel {
  position: relative;

  box-sizing: border-box;

  width: 150px;

  padding: 8px;

  color: #696969;
  font-size: 16px;

  background-color: #010101;
  border: 1px solid #696969;
  border-radius: 5px;

  transition: border-color 0.3s ease;
}

.TodoForm-FileLabel:hover {
  border-color: #cd9d6d;
  cursor: pointer;
}

.TodoForm-FileTitle {
  margin: 0;

  color: #696969;
  font-size: 18px;
  letter-spacing: 1px;

  pointer-events: none;
}

.TodoForm-FileInput {
  position: absolute;
  top: -1000px;
}

.TodoForm-FileInput:focus.TodoForm-FileLabel {
  border: 1px solid #cd9d6d;
}

.TodoForm-Date {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.TodoForm-DateTitle {
  margin: 0;

  color: #696969;
  font-size: 18px;
  letter-spacing: 1px;
}

.TodoForm-DateInput {
  box-sizing: border-box;
  width: 150px;
  padding: 8px;

  color: #696969;
  font-size: 16px;
  font-family: 'Roboto Mono', monospace;

  background-color: #010101;
  border: 1px solid #696969;
  border-radius: 5px;
  outline: none;

  transition: border-color 0.3s ease;
}

.TodoForm-DateInput:focus {
  border: 1px solid #cd9d6d;
}

.TodoForm-DateInput::-webkit-datetime-edit-year-field {
  color: #696969;
}

.TodoForm-DateInput::-webkit-calendar-picker-indicator {
  filter: invert(0.5);
}

.TodoForm-DateInput:hover {
  border-color: #cd9d6d;
  cursor: pointer;
}

.TodoForm-Button {
  padding: 8px;

  color: #fff;
  font-size: 18px;
  font-family: inherit;

  background-color: #cd9d6d;
  border: 1px solid transparent;
  border-radius: 8px;
  outline: none;

  transition: all 0.3s ease;
}

.TodoForm-Button:hover {
  color: #cd9d6d;

  background-color: transparent;
  border-color: #cd9d6d;
  cursor: pointer;
}
