.TodoList {
  box-sizing: border-box;
  width: 400px;
  min-height: 700px;
  padding: 32px 24px;

  background-color: #11353b;
  border-radius: 16px;
  box-shadow: 0 0 21px 13px rgba(17, 53, 59, 20%);
}

.TodoList-Title {
  margin-bottom: 16px;

  color: #fff;
  font-size: 32px;
  letter-spacing: 4px;
}

.TodoList-Tasks {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
